/* Estilos para el encabezado */
h1 {
    color: #333;
    font-weight: 600;
  }
  
  p {
    color: #555;
    font-size: 1.1em;
  }
  
  
  /* Estilos para los formularios */
  .form-container {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="radio"] {
    margin-bottom: 10px;
  }
  
  .form-check {
    margin-bottom: 10px; /* Espacio entre los grupos de radio */
  }
  
  /* Estilos para los botones */
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  
  /* Estilos para mensajes de error */
  .alert-danger {
    margin-top: 10px;
  }
  
  /* Responsividad */
  @media (max-width: 768px) {
    .col-md-6 {
      margin-bottom: 20px; /* Espacio entre formularios en pantallas pequeñas */
    }
  }

  .modal {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: none; /* Initially hidden */
  }
  
  .modal-content {
    background-color: white;
    margin: 15% auto; 
    padding: 20px;
    border-radius: 5px;
  }